<tr>
	<%- locals = {:item_form => item_form, :variant => variant, :line_item => line_item} %>
	<td>
		<div class="cover">
			<img src="http://s3.amazonaws.com/featha_development/assets/products/26/product/donny-multi.preview.jpg?1296215614"/>
		</div>
	</td>
	<td class="info">
		<%= link_to variant.product.name,  product_path(variant.product) %>
		<p>
			<%= truncate(variant.product.description, :length => 70, :omission => "...") %>
		</p>
	</td>
	<td><%= product_price(line_item) %></td>
	<td><%= item_form.text_field :quantity, :size => 3, :class => "line_item_quantity" %></td>
	<td>
		<%= format_price(product_price(line_item, :format_as_currency => false) * line_item.quantity) unless line_item.quantity.nil? %>
	</td>
	<td><a href="#" class="del"></a></td>
</tr>
