<%
  paginated_products = @searcher.products if params.key?(:keywords)
  paginated_products ||= @products
%>
<% if params.key?(:keywords) %>
  <h3><%= t(:search_results, :keywords => h(params[:keywords])) %></h3>
<% end %>

<% if @products.present? %>
	<% for product in @products %>
	<div class="prod-item">
		<div class="cover-img">
			<%= product_image(product) %>
		</div>
		<%= link_to product.name, product_path(product) %>
		<span class="price"><%= product_price(product)%></span>
<!-- 		<a href="product-detail.html" class="buy">Buy</a> -->
		<br class="clear"/>
		<div class="fb-like">
			<fb:like href="<%= product_url(product, :only_path => false)%>" layout="button_count"></fb:like>
		</div>
	</div>
	<% end %>
	
  <% if paginated_products.respond_to?(:total_pages)
        params.delete(:search)
        params.delete(:taxon) %>       
  <%= will_paginate(paginated_products,
                    :previous_label => "&#171; #{t('previous')}",
                    :next_label => "#{t('next')} &#187;") %>
  <% end %>
<% else %>
  <%= t(:no_products_found) %>
<% end %>
